




<html>

<body>

    <form asp-action="UploadFile" asp-controller="Upload" method="post" enctype="multipart/form-data">
        <input type="file" multiple name="Files" accept=".m4a,image/*,video/*,audio/*" />
        <input type="submit" value="Submit" />
    </form>


</body>
</html>
